<div class="container">
        <h3 mat-dialog-title>Shift ID: {{data.ShiftId}}</h3>
          <form class="mat-dialog" (ngSubmit)="submit" #formControl="ngForm">
            <!-- <div class="form">
             <mat-form-field color="accent">
             <textarea readonly matInput #input class="form-control" placeholder="id" [(ngModel)]="data.ID" name="ID" required ></textarea>
                 <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
               </div>  -->
       
               <div class="form">
                   <mat-form-field color="accent">
                     <textarea matInput #input class="form-control" placeholder="ShiftName" [(ngModel)]="data.ShiftName" name="ShiftName" required ></textarea>
                     <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                   </mat-form-field>
                 </div>

                 <div class="form">
                        <mat-form-field color="accent">
                          <textarea matInput #input class="form-control" placeholder="StartTime" [(ngModel)]="data.StartTime" name="StartTime" required ></textarea>
                          <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                        </mat-form-field>
                      </div>

                      <div class="form">
                          <mat-form-field color="accent">
                            <textarea matInput #input class="form-control" placeholder="EndTime" [(ngModel)]="data.EndTime" name="EndTime" required ></textarea>
                            <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                          </mat-form-field>
                        </div>
       
                 
                <div mat-dialog-actions>
               <button class="btn btn-primary" mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" 
               (click)="stopEdit()">Save</button>
                    <button class="btn btn-secondary" mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
              </div>
          </form>
          </div>
          
